<!DOCTYPE html>
<html>
<head>
  <title>Snflx</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
</head>
<body style="padding-top: 60px">
<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="#">Sorry, Netflix.</a>
      <ul class="nav">
        <li>
          <a href="<%= users_path %>"> Users </a>
        </li>
        <li>
          <a href="<%= accounts_path %>"> Accounts </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
<% flash.each do |k, v| %>
  <div class="alert-message warning">
    <a class="close" href="#">x</a>
    <p> <%= v %> </p>
  </div>
<% end %>

<%= yield %>
</div>

</body>
</html>
