<h1>Accounts</h1>

<table class="condensed-table">
  <thead>
    <tr>
      <th>Login</th>
      <th>Password</th>
      <th>Owner</th>
      <th>Watchers</th>
    </tr>
    <tr>
  </thead>
  <tbody>
    <% @accounts.each do |a| %>
      <tr>
          <td> <%= link_to a.login, a %> </td>
          <td> <%= a.password %> </td>
          <td> <%= a.owner %> </td>
          <td> <%= a.watchers %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p> <%= link_to "Add a New Account", new_account_path %> </p>
